.page {
  display: flex;
  background-color: white;
  min-height: 100vh;
  font-family: sans-serif;
}





.main {
  flex: 1;
  padding: 0.5rem;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: black;
}

.loading {
  font-size: 1rem;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
  gap: 0.5rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, minmax(160px, 1fr)); /* 4 columns for medium screens */
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Always 2 columns on small screens */
    gap: 0.4rem;
  }
}

@media (max-width: 1000px) {
  .page {
    flex-direction: column;
  }

  .main {
    padding: 1rem;
  }
}
